$pc-width: 1024px;
$ipad-width: 768px;
$side-width: 568px;

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
