
.head2011a {
    background-color: #000080;
    padding: 7px 10px;
    font-weight: normal;
    color: #fff;
    white-space: nowrap;
    width: 200px;
}

.head2011b {
    background-color: #F8F8FF;
    padding: 7px 10px;
    font-weight: normal;
    color: #333;
}

.head2011c {
    background-color: #F8F8FF;
    height: 30px;
    font-weight: normal;
    color: #333;
    
    position: relative;
}

.head2011c a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}



.age {
    display: flex;
}

.career {
    display: flex;
}

.note {
    position: relative;
	top: 10px;
}

.register_table {
    display: flex; 
    justify-content: center; 
}

.btn-link {
    font-size: 1em;
}