h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  background: #ff7f50;
  padding: 10px;
}

header .top_login {
  display: flex;
}

header .top_form {
  width: 100px;
  height: 30px;
  margin: 0 5px 0 0;
}

header .top_form_btn {
  margin: 5px 0 0 0;
}

header .logo_wrap {
  background: #ff7f50;
  display: flex;
  justify-content: space-between;
}

header .logo {
  width: 300px;
  height: 70px;
  margin: 10px;
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .banner {
  width: 500px;
  margin: 10px;
  background: #fff;
}

header .sightmap {
  background: #ff7f50;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 0 0;
}

.wrap {
  width: 1100px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #fff;
  background: #ff7f50;
}

.new_review {
  margin-top: 10px;
}

.new_review_frame {
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid #333333;
}

.left_new_review {
  width: 540px;
  margin-left: 10px;
  float: left;
}

.right_new_review {
  width: 540px;
  margin-left: 10px;
  float: left;
}

.banner2 {
  padding: 10px;
  background: #006400;
  height: 100px;
  width: 500px;
  margin-bottom: 10px;
}

.category_equipment {
  margin-bottom: 180px;
}

.left_category_equipment {
  width: 350px;
  margin-left: 10px;
  float: left;
}

.center_category_equipment {
  width: 350px;
  margin-left: 10px;
  float: left;
}

.right_category_equipment {
  width: 350px;
  margin-left: 10px;
  float: left;
}

.category_not_equipment {
  margin-bottom: 100px;
}

.category_not_equipment:after {
  clear: both;
  display: block;
  content: " ";
}

.category_wear {
  width: 290px;
  float: left;
  margin-right: 10px;
}

.category_gear {
  width: 290px;
  float: left;
  margin-right: 10px;
}

.category_tool {
  width: 500px;
  float: left;
}

.left_category_tool {
  width: 240px;
  margin-left: 10px;
  float: left;
}

.right_category_tool {
  width: 240px;
  margin-left: 10px;
  float: left;
}

footer {
  color: #fff;
  background: #ff7f50;
  text-align: center;
  padding: 10px 0 30px 0;
}
