.guide_box {
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px #000080;
}

.guide_box .box-title {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #000080;
  color: #fff;
  font-weight: bold;
}

.guide_box a {
  margin: 0;
  padding: 0;
}
