html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, img, dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

ul ul {
  margin: 0;
}

table {
  border-spacing: 0;
  table-layout: fixed;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block;
}

a {
  text-decoration: none;
}
