@charset "UTF-8";
.caption {
  position: relative;
  width: 500px;
}

.img-review {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover; /* width, heightといっしょに使います */
}

.itemlist {
  border-collapse: collapse;
  border-spacing: 0;
}

.itemlist th {
  padding: 10px 0;
  text-align: center;
}

.itemlist tr:nth-child(1) {
  background-color: #000080;
  color: #fff;
}

.head2011d {
  height: 30px;
  font-weight: normal;
  position: relative;
}

.head2011d a {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
