@charset "UTF-8";
.item_pankuzu {
  margin: 20px 0 10px 75px;
}
@media screen and (min-width: 768px) {
  .item_pankuzu {
    margin: 20px 0 10px 115px;
  }
}

.review_pankuzu {
  margin: 20px 0 10px 40px;
}
@media screen and (min-width: 768px) {
  .review_pankuzu {
    margin: 20px 0 10px 170px;
  }
}

.caption {
  position: relative;
  width: 500px;
}

.img-review {
  width: 80%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover; /* width, heightといっしょに使います */
}
@media screen and (min-width: 768px) {
  .img-review {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover; /* width, heightといっしょに使います */
  }
}

.itemlist {
  border-collapse: collapse;
  border-spacing: 0;
}

.itemlist th {
  padding: 10px 0;
  text-align: center;
}

.itemlist tr:nth-child(1) {
  background-color: #000080;
  color: #fff;
}

.overflow_itemlist { /* 指定サイズ以上の文字列は省略する */
  width: 300px; /* 省略せずに表示するサイズを指定 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
