.head2011a {
  background-color: #696969;
  padding: 7px 10px;
  font-weight: normal;
  color: #fff;
  white-space: nowrap;
  width: 200px;
}

.head2011b {
  background-color: #F8F8FF;
  padding: 7px 10px;
  font-weight: normal;
  color: #333;
}

.age {
  display: flex;
}

.career {
  display: flex;
}

.note {
  position: relative;
  top: 10px;
}

.register_table {
  display: flex;
  justify-content: center;
}

.btn-link {
  font-size: 1em;
}
